<% layout('./layouts/boilerplate') -%>
<div class="row mt-3">
    <div class="col-8 offset-2">
<body>
    <h2>Edit your Listing</h2>
    <form method="post" action="/listings/<%= edit_listing._id %>?_method=put" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="name" class="form-label">title</label>
            <input type="text" name="listing[title]" value="<%=edit_listing.title %>" id="name" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">description</label>
            <textarea type="text" name="listing[description]" id="description" class="form-control" required>
                <%=edit_listing.description %></textarea>  
                <div class="invalid-feedback">
                    description should be small
                  </div>
       </div>
       <div class="mb-3">
          Original Image <br>
          <img src="<%= image_url %>">
       </div>
       <div class="mb-3">
             <label for="image" class="form-label">Upload New Image</label> 
            <input type="file" name="listing[image]" id="image" class="form-control">
       </div>
       <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input type="number" name="listing[price]" value="<%=edit_listing.price%>" class="form-control" id="price" required>
        </div>
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">country</label>
            <input type="text" name="listing[country]" value="<%=edit_listing.country%>" class="form-control" id="country" required>
        </div>
    </div>
       <div class="mb-3">
        <label for="location" class="form-label">location</label>
        <input type="text" name="listing[location]"  value="<%=edit_listing.location%>"  class="form-control" id="location" required>
       </div>
     <div class="mb-3">
      <label for="category"  class="form-label">Choose a category:</label>
        <select  name="listing[Category]" value="<%=edit_listing.Category%>" id="category"  class="form-control" required>
            <option value="Trending">Trending</option>
            <option value="Rooms">Rooms</option>
            <option value="Iconic cities">Iconic cities</option>
            <option value="Mountains">Mountains</option>
            <option value="Castles">Castles</option>
            <option value="Amazing Pools">Amazing Pools</option>
            <option value="Camping">Camping</option>
            <option value="Farms">Farms</option>
            <option value="Arctic">Arctic</option>
       </select>
   </div>
        <button class="btn btn-dark edit-btn  mt-3">Edit</button>
    </form>
</body>
<script src="/js/script"></script>
</div>
</div>
